<div class="d-flex p-4 justify-content-center">
  <div class="card">
    <div class="card-body">
      <p id="p-centered-click-to-spin">Click to Spin</p>

      <input type="image" class="spin-wheel apple-pie pie-wheel" id="pie1" src="/images/pie-wheel-apple.png">
      <div hidden class="pie-space">&nbsp;</div>
      <input type="image" class="spin-wheel cherry-pie pie-wheel" id="pie2" src="/images/pie-wheel-cherry.png" hidden>

      <div>
        <p id="p-centered-margin-top">Spin Count: <span id="howMany">--</span></p>
      </div>

      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-info spin-wheel" value="1">1 Spin</button>&nbsp;
        <button type="button" class="btn btn-info spin-wheel" value="2">2 Spins</button>&nbsp;
        <button type="button" class="btn btn-info spin-wheel" value="3">3 Spins</button>
      </div>
      <br>

      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-danger" id="toggle-cherry-pie">Cherry</button>&nbsp;
        <button type="button" class="btn btn-success" id="toggle-apple-pie">Apple</button>&nbsp;
        <button type="button" class="btn btn-warning" id="toggle-both-pies">Both</button>
      </div>

      <p id="p-centered-margin-top">
        <a href="/">← Back To Home</a>
      </p>

    </div>
  </div>
</div>