<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <p id="p-centered-click-to-spin">Click to Spin</p>
          <img id="pie-wheel" src="/images/pie.png">
          <p id="p-centered-back-home">
            <a href="/">← Back To Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>